# arquivos de sistema
.DS_Store
Thumbs.db
desktop.ini

# editores
.vscode/
.idea/

# logs
*.log
logs/

# arquivos temporários
*.tmp
*.temp
*.swp
*~

# segredos e credenciais
.env
.env.*
*.key
*.pem
*.p12
*.pfx
secrets/
credentials/

# arquivos de máquinas virtuais
*.vdi
*.vmdk
*.vbox
*.vbox-prev
*.ova
*.ovf

# backups e dumps
*.bak
*.backup
*.dump
